<html lang="en">
{% load i18n %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simpel Example App</title>
</head>
<body>
  <h1>Simpel QRCode Demo</h1>
  {% if object %}
    <img width="150" src="{{ object.qrcode.qr_image.url }}" alt="qrcode">
    <h2>{{ object }}</h2>
    <a href="{% url 'product_index' %}">{% trans "Back to list" %}</a>
  {% endif %}
  {% if object_list %}
    {% for object in object_list %}
      <h3><a href="{{ object.get_absolute_url }}">{{ object }}</a></h2>
    {% empty %}
      <p>{% trans "Product empty!" %}</p>
    {% endfor %}
  {% endif %}
</body>
</html>
